body{
  margin: 0;
  top: 0;
  padding: 0;
}
h1{
  margin: 0;
  padding: 0;
}

.header{
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-between;
  background-color: #831238;
}

.sistLogo{
  padding-left: 8%;
}
.calciLogo{
  padding-right: 10%;
}

.sistLogoImage{
  width: min-content;
}

.calciLogoImage{
  width: min-content;
}

@media (min-width: 1000px) and (max-width: 1800px) {
  .sistLogoImage{
    width: 500px;
  }
  .calciLogoImage{
    width: 300px;
  }
  
}

@media (min-width: 650px) and  (max-width:1000px) {
  .sistLogoImage{
    width: 380px;
  }
  .calciLogoImage{
    width: 200px;
  }
  
}

@media (min-width: 150px) and (max-width:650px) {
  .sistLogoImage{
    width: 250px;
  }
  .sistLogo{
    padding: 0;
  }
  .header{
    justify-content: space-around;
  }
  .calciLogo{
    display: none;
  }
  
}

:root {
  --position: absolute;
}

#footer{
  position: var(--position);
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  height: 80px;
  background-color: #831238;
}
.footerText{
  padding-top: 20px;
  align-items: center;
  text-align: center;
  font-size: 2.3vh;
  color: white;
}




.Container{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

.SubjectsBlock{
  text-align: center;
  margin-top: 4%;
  display: block;

}

.SubjectsBlock button{
  padding: 10px;
  border-radius: 10px;
  background-color: #820000;
  color: white;
  font-size: 1.1rem;
  font-weight: bolder;
  margin-top: 10px;
}

.SubjectsBlock button:hover{
  background-color: #831238;
}


.cpgpadiv{
  padding: 10px;
  /* margin-top: 180px; */
  overflow-y: scroll;
  /* overflow: auto; */
  height: 550px;
  border: solid;
  
  border-width: 3px;;
  border-color: gray;
  background-color: #FFFAFA;
  border-style: outset;
}
@media screen and (max-width:650px) {
  .cpgpadiv{
  height: 510px;
  }
}